:root {
    --whbackground: #fcfcf9;
    --clSubtitle: #a47d5e;
    --clAdd: #dfc691;
    --btnColor: #56534c6b;
}
*{
    font-family: 'Alegreya', serif;
    margin: 0;
    padding: 0;
}

header{
    background: var(--whbackground) url("assets/hero/mobile-background.webp") no-repeat center;
    height: 640px;
}
.navbar{
    background-color: var(--btnColor);
}