:root {
    --whbackground: #fcfcf9;
    --clSubtitle: #c8a593;
    --clAdd: #dfc691;
    --arrColor: #d8bba3;
    --arrColorhover: #56534c;
    --btnColor: rgba(86, 83, 76, 0.51);
    --mainFont: 'Alegreya', serif;
    --fontsize1: 94px;
    --fontsize2: 48px;
    --fontsize3: 30px;
    --fontpara: 24px;
    --fontsubtitle: 14px;
    --navColor: rgba(86, 83, 76, 0.52);

}
*{
    margin: 0;
    padding: 0;
}
section{
    margin:0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head{
    background: var(--whbackground) url("assets/hero/background-header.webp") no-repeat center;
    background-size: cover;
    height: 640px;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--navColor);
    padding: 20px;
    position: fixed;
    z-index: 999;
}
.navbar ul {
    list-style-type: none;
}
.navbarMain{
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #56534c ;
    z-index: 1;
    transform: translateX(-100%);
    transition: all .2s ease;
}
.navActivation{
 transform: translateX(0);
}
.navbarMain li{
    text-align: center;
    display: flex;
}
.navbarMain li a {
    font: var(--fontsubtitle) var(--mainFont);
    color: var(--whbackground);
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.navbarMain li a:hover{
    color: var(--clAdd);
}
.navbarSocialMedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbarSocialMedia li:first-child a,.navbarSocialMedia li:nth-child(2) a, .navbarSocialMedia li:last-child a {
    background-image: url("assets/icons.png");
    background-repeat: no-repeat;
}
.navbarSocialMedia li:first-child a{
    background-position: 23px 20px;
}
.navbarSocialMedia li:nth-child(2) a{
    background-position: -65px 20px;
}
.navbarSocialMedia li:last-child a{
    background-position: -165px 20px;
}
/*hamburger*/
.row .three{
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
}
.hamburger{
    position: absolute;
    right: 20px;
    top: 20px;
}
.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: var(--whbackground);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

.hamburger.isactive .line:nth-child(2){
    opacity: 0;
}

.hamburger.isactive .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    align-items: center;

}
.content > h1{
    font: var(--mainFont);
    color: var(--whbackground);
    font-size: var(--fontsize1);
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 7.5px;
}
.content > h1:after{
    content: "";
    position: absolute;
    background-image: url("assets/hero/dashed-lines.png");
    width: 190px;
    height: 12px;
    margin: 0 auto;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
.content > p{
    color: var(--whbackground);
    font: var(--fontpara) var(--mainFont);
    text-align: center;
    margin-bottom: 30px;

}
.btn{
    position: relative;
    margin: 0;
    width: 204px;
    height: 48px;
    font: 14px var(--mainFont);
    text-align: center;
    line-height: 48px;
    background-color:var(--btnColor);
    text-transform: uppercase;
    color: var(--whbackground);
    cursor: pointer;
}

.artOfCakeSection{
    background: var(--whbackground);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 105px 0;
}
.artOfCakeSection .title{
    font: bold var(--fontsize2) var(--mainFont);
    text-align: center;
}
.artOfCakeSection h3{
    font: var(--fontsubtitle) var(--mainFont);
    color: var(--clSubtitle);
    text-transform: uppercase;
    text-align: center;
}
.artOfCakeSection .opinion{
    font: var(--fontsubtitle);
    letter-spacing: 1px;
    margin: 20px 0;
}
.artOfCakeSection .chefCook{
    font:var(--fontpara);
    font-weight: bold;
    margin: 50px 0;
}
.chef{
    max-width: 485px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar span{
    position: relative;
    border-top: 1px solid var(--btnColor);
    border-bottom: 1px solid var(--btnColor);
    padding: 20px 20px;
}
.avatar .chef{
    width: 100px;
    height: 100px;
    border: 5px solid var(--whbackground);
    border-radius: 60px;
    background:url("assets/art-of-cake/avatar.png") -40px -10px no-repeat;
}
blockquote{
    margin: 20px 0;
    font-size: var(--fontpara);
    font-family: 'League Script', cursive;
    position: relative;
    align-self: center;
}
blockquote:before, blockquote:after{
    content: '"';
    font-size: var(--fontsize1);
}
blockquote:after{
    position: absolute;
    bottom: -15px;
}
.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 610px;
}
.thumbnails .badge{
    display: flex;
    background: url("assets/art-of-cake/Vektor-Smartobjekt.png") no-repeat center;
    width: 279px;
    height: 279px;
    justify-content: center;
    align-items: center;
    color: rgba(201, 177, 118, 0.72);
    font: var(--fontsize3) var(--mainFont);
    text-transform: uppercase;
    position: absolute;
    text-align: center;
}
.mainDish{
    margin: 10px 0;
}
.perfectPancakes{
    background: url("assets/tasty-pancakes/pancakes-bg.png") center;

    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 140px 0 110px 0;
}
.perfectPancakes .dishImg{
    max-width: 419px ;
}
.perfectPancakes .dishDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--whbackground) url("assets/art-of-cake/windmill.png") bottom right no-repeat;
    margin: 0 20px;
    padding: 30px;
    max-width: 550px;
}
.perfectPancakes h2{
    color: #56534c;
    font: bold var(--fontsize2) var(--mainFont);
    text-align: center;
}
.subtitle{
    font: bold var(--fontsubtitle) var(--mainFont);
    color: var(--clSubtitle);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
}
.dishDescription{
    position: relative;
}
.dishDescription p{
    font: var(--mainFont);
    letter-spacing: 1px;
    margin-top: -100px;
}
.perfectPancakes .sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 105px 0 20px 0;
}
.dishImgmob{
    text-align: center;
    margin-bottom: 30px;
}
.dishImgdesk{
    text-align: center;
    display: none;
}
.arrow{
    color: var(--arrColor);
    border: 1px solid var(--arrColor);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.arrow:hover{
    color: var(--arrColorhover);
    border-color: var(--arrColorhover);
}
.cookTime{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cookTimePancakes{
    top:-150px;
    -webkit-box-shadow: 2px -7px 24px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px -7px 24px -10px rgba(0, 0, 0, 1);
    box-shadow: 2px -7px 24px -10px rgba(0, 0, 0, 1);
}
.cookTimeRdy{
    background: url("assets/tasty-pancakes/background-ready-in.png") bottom center;
}
.cookTimeRdy span:first-child,.cookTime span:first-child{
    color: var(--clSubtitle);
    font: 200 var(--fontpara) var(--mainFont);
    text-transform: uppercase;
    text-align: center;
}
.cookTimeRdy span:nth-child(2){
    font: bold var(--fontsize1) var(--mainFont);
    color: var(--clAdd);
    margin: 0 0 -20px 0;
}
.cookTimeRdy span:nth-child(3), .cookTime span:nth-child(3){
    font: var(--fontpara) var(--mainFont);
    color: #979285;
}
.dishTimeCook span:nth-child(2){
    font: var(--fontsize2) var(--mainFont);
}

.breakfast{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--whbackground) url("assets/Breakfast/breakfast-bg.png") no-repeat center ;
    background-size: cover;
    padding: 90px 0 80px 0;
}
.breakfast .priceList{
    text-align: center;
}
.breakfast .priceList > h2{
    font: bold var(--fontsize2) var(--mainFont);
    color: var(--whbackground);
    letter-spacing: 3px;
}
.breakfast .subtitles{
    font: bold 16px var(--mainFont);
    color: var(--clSubtitle);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.breakfast .nameofDish{
    font: var(--fontsize3) var(--mainFont);
    color: var(--whbackground);
}
.breakfast .description{
    font: 16px var(--mainFont);
    color: #c2beba;
}
.breakfast .price{
    font: var(--fontsize2) var(--mainFont);
    color: var(--clAdd);
}
.breakfast .info{
    background: var(--whbackground) url("assets/Breakfast/vektor-smartobjekt.png") no-repeat;
    width: auto;
    height: auto;
    background-position: 330px 107%;
    max-width: 438px;
    padding: 20px 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: 1px dashed #9e9c93;
    outline-offset: -10px;
    position: relative;
    -webkit-box-shadow: 34px 58px 63px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 34px 58px 63px -4px rgba(0, 0, 0, 1);
    box-shadow: 34px 58px 63px -4px rgba(0, 0, 0, 1);
    z-index: 2;
    margin: 50px 20px 50px 20px;
}

.breakfast .info .infoHead{
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 110px;
    width: 100%;
}
.breakfast .info .infoHead:before{
    content: "";
    background-image: url("assets/Breakfast/ornament.png");
    width: 367px;
    height: 60px;
    position: absolute;
    top: 65px;
}
.breakfast .info .infoHead span{
    font-size: var(--fontsubtitle);
    text-transform: uppercase;
}
.breakfast .info .infoDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.breakfast .info .infoDesc h2{
    font: bold var(--fontsize2) var(--mainFont);
    color: #56534c;
    margin-bottom: 45px;
}
.breakfast .info .infoDesc p{
    line-height: 30px;
    letter-spacing: 2px;
    margin: 56px 0;
}
.breakfast .info .infoDesc .btn{
    color: var(--clAdd);
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 55px;
    border: 1px solid var(--arrColorhover);
}
.menu{
    padding: 100px 0 120px 0 ;
    text-align: center;
    background: #f3f1e9 url("assets/jibaritoSandwich/Vektor-Smartobjekt.png") top center no-repeat;

}
.menu h2{
    font: bold var(--fontsize2) var(--mainFont);
    color: #56534c;
    text-align: center;
}
.menu .ingredient{
    margin-bottom: 60px;
}
.menu .ingredientDesc{
    letter-spacing: 1px;
    color: #56534c;
}
.menu .ingredientName{
    font: bold var(--fontpara) var(--mainFont);
    color: #a47d5e;
}
.dishTime{
    display: none;
}

.fullRecipe{
    position: relative;
}
.fullRecipe .dishImg {
    position: relative;
    width: 100%;
}
.fullRecipe .btnDish{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--whbackground);
    color: var(--clAdd);
    border: 1px dashed var(--clAdd);
}
footer{
    background-color: #f3f1e9;
}
footer .footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type:none;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
footer .footer-nav li{
    flex: 1;
    padding: 20px 0;
    border-top: 1px solid var(--btnColor);

}

footer .footer-nav li a{
    font: var(--fontsubtitle) var(--mainFont);
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--arrColorhover);
    text-transform: uppercase;
}

/*}*/
/*footer{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.footer ul{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    list-style-type: none;*/
/*    border: 1px solid red;*/
/*}*/
/*footer>ul>li {*/
/*    padding: 30px 0;*/
/*    border-top: 1px solid #c2beba;*/
/*    border-bottom: 1px solid #c2beba;*/
/*    flex: 1;*/
/*}*/
/*footer >ul >li:nth-child(4){*/
/*    border: none;*/
/*}*/
@media screen and (min-width: 950px) {

    .dishTime{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: -20px;
        right: 15px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .fullRecipe{
        margin: 70px 0 0 130px;
    }
    .fullRecipe .dishImg{
        height: 570px;
    }
    .dishTimeReady{
        -webkit-box-shadow: 3px 13px 19px -16px rgba(66, 68, 90, 0.39);
        -moz-box-shadow: 3px 13px 19px -16px rgba(66, 68, 90, 0.39);
        box-shadow: 3px 13px 19px -16px rgba(66, 68, 90, 0.39);
    }
    .fullRecipe .btnDish{
        left: 80px;
    }
    footer .footer-nav{
        flex-direction: row;
        align-items: center;
        padding-bottom: 70px;
    }
    footer .footer-nav li{
        border-bottom: 1px solid var(--btnColor);
    }
    footer .footer-nav li:nth-child(4){
        border:none;

    }
}

@media screen and (min-width: 1050px){
    .hamburger{
        display: none;
    }
    .navbar{
        width: 100%;
        box-sizing: border-box;
        background-color: var(--navColor);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0 30px;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .navbarMain{
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        background-color: transparent;
        transform: translateX(0);
        flex-wrap: nowrap;
    }
    .navbarMain > ul{
        display: flex;
        flex-wrap: wrap;
    }
    .navActivation{
        transform: translateX(0);
    }
    .navbarMain .navMain li{
        text-align: center;
        border: none;
        margin: 0 30px;
    }
    .navbarMain .navMain li a {
        font: var(--fontsubtitle) var(--mainFont);
        color: var(--whbackground);
        text-decoration: none;
        text-transform: uppercase;
        width: auto;
        height: 100%;
        padding: 20px 0;

    }
    .navbarMain li a:hover{
        color: var(--clAdd);
    }
    .navbarSocialMedia{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .perfectPancakes .dishDescription{
        margin:0
    }
    .dish{
        margin: 65px 0 65px 0;
    }

}
@media screen and (min-width: 1250px) {
    header {
        background-size: cover;
    }
    .perfectPancakes .dishImg{
        clip-path: polygon(0 0, 100% 0, 100% 10%, 100% 100%, 100% 100%,20% 100%, 0 83%, 0% 30%);
    }
    .dishImgmob{
        display: none;
    }
    .dishImgdesk{
        display: block;
    }
    .dishDescription > .cookTime{
        position: absolute;
        right: -70px;
        top: -70px;
    }
    .dishDescription p{
        margin: 0;
    }
    .breakfast .info{
        margin-left: 300px;
    }
}